
      .send-button{
        background-color: rgb(25, 135, 84);;
        color: white;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
      }

      .clear-button{
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
      }
      .chat-input{
        font-size: 15px;
        padding: 12px 15px;
        border-width: 1px;
        border-radius: 10px;
        margin-right: 10px;
        flex-grow: 1;
      }
      .chat-input-container{
        display: flex;
        padding: 20px;
        margin-bottom: 60px;
      }
      .app-container{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      .chat-message-user{
        display: flex;
        justify-content: end;
        align-items: start;
      }
      .chat-message-robot{
        display: flex;
        justify-content: start;
        align-items: start;
      }
      .chat-message-text{
        background-color: rgb(238, 238, 238);
        padding: 15px 20px;
        border-radius: 10px;
        max-width: 300px;
        margin-bottom: 20px;
        overflow-wrap: break-word;
        margin-right: 10px;
        margin-left: 10px;
      }
      .chat-message-profile{
        width: 45px;
        height: 45px;
        border-radius: 45px;
        object-fit: cover;
      }

      .chat-messages-container{
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;
        scrollbar-width: none;
      }
      .welcome-paragraph{
        text-align: center;
        color: grey;
      }
      .loading-gif{
        height: 40px;
        margin: -15px;
      }

